/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*                    GENERAL STYLES                */
html {
  font-size: 10px;
  background: url("/images/rock-band-silhouettes-stage-concert.jpg");
  background-size: cover;
}

body {
  font-family: serif;
}

/*                    KEYS                         */
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid purple;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  text-align: center;
  margin: 1rem;
  width: 10rem;
  text-shadow: 0 0 0.5rem black;
  transition: all 0.1s ease;
}

kbd {
  font-size: 5rem;
  display: block;
}

.sound {
  letter-spacing: 0.1rem;
  color: #ef27a6;
  font-size: 1.2rem;
}

.playing {
  transform: scale(1.1);
  border-color: #ff299c;
  box-shadow: 0 0 1rem #ff299c;
}
